<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Web font -->
    <!--begin::Base Styles -->
    <link href="~/lib/metronic/dist/css/vendors.bundle.css" rel="stylesheet" />
    <link href="~/lib/metronic/dist/css/style.bundle.css" rel="stylesheet" />
    <!--end::Base Styles -->
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>
<body class="m-page--wide m-header--fixed m-header--fixed-mobile m-footer--push m-aside--offcanvas-default">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <!-- begin::Header -->
        <partial name="_Header" />
        <!-- end::Header -->
        <!-- begin::Body -->
        <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">
            <div class="m-grid__item m-grid__item--fluid m-wrapper">
                <div class="m-content">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- end::Body -->
        <!-- begin::Footer -->
        <partial name="_Footer" />
        <!-- end::Footer -->
    </div>
    <!-- end:: Page -->
    <!-- begin::Scroll Top -->
    <div id="m_scroll_top" class="m-scroll-top">
        <i class="la la-arrow-up"></i>
    </div>
    <!--begin::Base Scripts -->
    <script src="~/lib/metronic/dist/js/vendors.bundle.js"></script>
    <script src="~/lib/metronic/dist/js/scripts.bundle.js"></script>
    <!--end::Base Scripts -->
    @RenderSection("Scripts", required: false)
</body>
</html>